// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

th {
  font-weight: bold;
}
td {
  padding-top: 0.6em;
  vertical-align: top;
}
table {
  margin-bottom: 1.5em;
}
code {
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  background: rgba(0,0,0,0.01);
}

figure.code table {
  margin-bottom: 0;
  td { padding-top: 0; }
}
